.user-profile-header-banner img {
    height: 230px;
}

.card-bg {
    background: url(../img/backgrounds/22.jpg) center center / cover no-repeat;
    height: 133px;
}

.reporting-authority .card-body {
    margin-top: -60px;
}

.daily-log.timeline .timeline-item {
    padding-left: 16px;
}

.employe-timeline .card-body {
    height: 540px;
    overflow-y: auto;
    margin-right: 16px;
}

.employe-timeline .card-body::-webkit-scrollbar-track {
    background-color: #efefef;
}

.employe-timeline .card-body::-webkit-scrollbar {
    width: 10px;
    background-color: #efefef;
}

.employe-timeline .card-body::-webkit-scrollbar-thumb {
    background-color: #d34b4c;

}

.BGgradient {
    background: linear-gradient(72.47deg, rgba(234,84,85) 22.16%, rgba(234,84,85, 0.7) 76.47%);
    color: #fff !important;
}

.scroll-bottom{
    overflow-y: auto;
}
.scroll-bottom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll-bottom::-webkit-scrollbar
{
	width: 12px;
    height: 5px;
	background-color: #dbdade;
    padding-top: 40px;
}

.scroll-bottom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #dbdade;
	background-color: #555;
}